@import "tailwindcss";

:root {
  --primary: #6f96d1; /* Фон страниц и input */
  --textPrimary: #354fae; /* Текст на фоне #FFFAF0 */
  --bgSecondary: #ffffff; /* Фон контента */
}

@theme inline {
  --color-primary: var(--primary);
  --color-textPrimary: var(--textPrimary);
  --color-bgSecondary: var(--bgSecondary);
}

body {
  @apply bg-[--primary] text-[--textPrimary];
}
